* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

p {
  margin: 16px 0;
}

header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  margin-top: 96px;
  padding-bottom: 64px;
}

main {
  background-color: hsla(0, 0%, 40%, 1);
  padding: 64px 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk {
  padding: 0 24px;
}

.card {
  background-color: hsla(0, 0%, 100%, 1);
  padding: 8px 24px;
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.title {
  margin: 48px 0px;
}

.indented-heading {
  background-color: hsla(45, 100%, 50%, 1);
  padding: 16px 32px;
  width: fit-content;
  border-bottom: hsla(45, 100%, 40%, 1) solid 8px;
}

.card .indented-heading {
  margin-left: -32px;
}